
@{
    ViewData["Title"] = "Trang quản trị";
}

<div id="welcome-container" class="welcome-container">
    <div class="text-center">
        <h1>Chào mừng đến với Trang Quản trị</h1>
        <p>Đây là trang quản trị của website của chúng tôi. Bạn có quyền truy cập để quản lý các khía cạnh khác nhau của trang web ở đây.</p>
        <a href="/Logout" class="btn" id="logoutBtn">Đăng xuất</a>
    </div>
</div>

