@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="text-center">
    <h1>Bạn có chắc chắn muốn đăng xuất ?</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Bấm vào đây để đăng xuất</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
