<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techmedcom</title>
    <meta name="keywords" content="Techmedcom, Techmedcom group, Techmedcom offical" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Techmedcom">
    <meta property="og:image"
          content="">
    <meta property="og:image:secure_url"
          content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://techmedcom.vn/">
    <meta property="og:site_name" content="Techmedcom">
    <link rel="icon" href="./images/techmedcom.png"
          type="image/x-icon" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" media="all">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link href="~/assests/css/bootstrap.css" rel="stylesheet" />
	<link href="~/assests/css/main.css" rel="stylesheet" />
	<link href="~/assests/css/responsive.css" rel="stylesheet" />
	<link href="~/assests/css/index.css" rel="stylesheet" />
	<link href="~/assests/css/sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/TechMed.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_HeaderPartial" model="Model" />
  
     @RenderBody()

    <partial name="_FooterPartial" model="Model" />
	<script src="~/assests/js/swiper.min.js"></script>
	<script src="~/assests/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
