<div class="breadcrumb_background">
    <span class="overlay"></span>
    <div class="title_full">
        <div class="container a-center">
            <h1 class="title_page">Giới thiệu</h1>
        </div>
    </div>
</div>
<div class="content-page container rte">
    <p style="text-align: justify;">
        <meta charset="utf-8" />
    </p>
    <div dir="ltr">
		<img src="~/images/intro/asset3.png" />
        <img src="~/images/intro/asset4.png" />
		<img src="~/images/intro/asset5.png" />
        <img src="~/images/intro/asset6.png" />
        <img src="~/images/intro/asset7.png" />
        <img src="~/images/intro/asset8.png" />
    </div>
</div>